apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "web-ingress-service"
spec:
  tls:
  - hosts:
    - howchoo.com
    secretName: letsencrypt-certs
  backend:
    serviceName: web
    servicePort: 80
  #rules:
