apiVersion: v1
kind: Service
metadata:
  name: web
  labels:
    app: web
    tier: frontend
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 80
  # type: LoadBalancer
  # loadBalancerIP:
  # ports:
  # - port: 80
  #   name: http
  #  targetPort: 80
  # - port: 443
  # name: https
  # targetPort: 80
  # selector:
  # app: web
  # tier: frontend
